
.placeholder{
  text-align: center;
}

.contact-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.message {
  margin-bottom: 1rem;

}
.msg{
  width: fit-content;
  background: white;
  padding: 0.5rem;
  border-radius: 12px 4px;
}
.message.sent {
  text-align: right;
  color: #007bff;
}

.message.received {
  color: white;
  display: flex;
  flex-direction: row-reverse;
}
.message.received .msg{
  background: #007bff;
}