.contact-list {
  width: 30%;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.chatList-header {
  text-align: center;
}

.add-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.add-contact input {
  /* flex: 1; */
  padding: 0.5rem;
}

.add-contact button {
  padding: 0.5rem;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.contact-item button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.noContact{
  padding: 1rem;
}
