body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-header{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.app-header button {
  margin-left: 0.5rem;
  height: fit-content;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.app-container {
  display: flex;
  height: 90vh;
  width: 100%;
}

/* .contact-list {
  width: 30%;
  background: #f8f9fa;
  border-right: 1px solid #ddd;
  overflow-y: auto;
} */

.chat-section{
  width: 70%;
  background: #c2f6d9;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
} */

.chatList-header, .chat-header {
  padding: 1rem;
  background: #00000071;
  color: white;
}

/* .chatList-header{
  text-align: center;
} */

/* .contact-item{
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.message {
  margin-bottom: 1rem;
}

.message.sent {
  text-align: right;
  color: #007bff;
}

.message.received {
  text-align: left;
  color: #333;
} */

/* .message-input {
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #ddd;
}

.message-input input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.message-input button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.message-input button:hover {
  background: #0056b3;
} */
